/* 
also can print like this, but can't find perfect character
██████████
    ██
██      ██
██████████ 
*/
.block::before {
    box-shadow: 
    5px 5px #fff, 10px 5px #fff, 15px 5px #fff, 20px 5px #fff, 25px 5px #fff, 
    5px 10px #fff, 10px 10px #fff, 15px 10px #fff, 20px 10px #fff, 25px 10px #fff, 
    5px 15px #fff, 10px 15px #fff, 15px 15px #fff, 20px 15px #fff, 25px 15px #fff, 
    5px 20px #fff, 10px 20px #fff, 15px 20px #fff, 20px 20px #fff, 25px 20px #fff, 
    5px 25px #fff, 10px 25px #fff, 15px 25px #fff, 20px 25px #fff, 25px 25px #fff; 
}

.block.A::before {
    box-shadow: 
    5px 5px #000, 10px 5px #000, 15px 5px #000, 20px 5px #000, 25px 5px #000, 
    5px 10px #fff, 10px 10px #fff, 15px 10px #000, 20px 10px #fff, 25px 10px #fff, 
    5px 15px #000, 10px 15px #fff, 15px 15px #fff, 20px 15px #fff, 25px 15px #000, 
    5px 20px #000, 10px 20px #000, 15px 20px #000, 20px 20px #000, 25px 20px #000, 
    5px 25px #000, 10px 25px #000, 15px 25px #000, 20px 25px #000, 25px 25px #000; 
}
.block.B::before {
    box-shadow: 
    5px 5px #000, 10px 5px #000, 15px 5px #000, 20px 5px #000, 25px 5px #000, 
    5px 10px #000, 10px 10px #fff, 15px 10px #fff, 20px 10px #fff, 25px 10px #000, 
    5px 15px #000, 10px 15px #fff, 15px 15px #000, 20px 15px #fff, 25px 15px #000, 
    5px 20px #fff, 10px 20px #fff, 15px 20px #fff, 20px 20px #fff, 25px 20px #000, 
    5px 25px #000, 10px 25px #000, 15px 25px #000, 20px 25px #000, 25px 25px #000; 
}
.block.C::before {
    box-shadow: 
    5px 5px #000, 10px 5px #000, 15px 5px #000, 20px 5px #000, 25px 5px #000, 
    5px 10px #000, 10px 10px #000, 15px 10px #000, 20px 10px #fff, 25px 10px #fff, 
    5px 15px #000, 10px 15px #000, 15px 15px #000, 20px 15px #fff, 25px 15px #000, 
    5px 20px #000, 10px 20px #000, 15px 20px #000, 20px 20px #fff, 25px 20px #fff, 
    5px 25px #000, 10px 25px #000, 15px 25px #000, 20px 25px #000, 25px 25px #000; 
}
.block.D::before {
    box-shadow: 
    5px 5px #000, 10px 5px #000, 15px 5px #000, 20px 5px #000, 25px 5px #000, 
    5px 10px #000, 10px 10px #000, 15px 10px #000, 20px 10px #000, 25px 10px #000, 
    5px 15px #000, 10px 15px #000, 15px 15px #000, 20px 15px #000, 25px 15px #000, 
    5px 20px #fff, 10px 20px #fff, 15px 20px #000, 20px 20px #000, 25px 20px #000, 
    5px 25px #000, 10px 25px #fff, 15px 25px #000, 20px 25px #000, 25px 25px #000; 
}
.block.E::before {
    box-shadow: 
    5px 5px #000, 10px 5px #000, 15px 5px #000, 20px 5px #000, 25px 5px #000, 
    5px 10px #fff, 10px 10px #fff, 15px 10px #000, 20px 10px #000, 25px 10px #000, 
    5px 15px #000, 10px 15px #fff, 15px 15px #000, 20px 15px #000, 25px 15px #000, 
    5px 20px #000, 10px 20px #fff, 15px 20px #fff, 20px 20px #fff, 25px 20px #fff, 
    5px 25px #000, 10px 25px #000, 15px 25px #000, 20px 25px #000, 25px 25px #000; 
}
.block.F::before {
    box-shadow: 
    5px 5px #000, 10px 5px #000, 15px 5px #000, 20px 5px #000, 25px 5px #000, 
    5px 10px #000, 10px 10px #fff, 15px 10px #000, 20px 10px #fff, 25px 10px #000, 
    5px 15px #fff, 10px 15px #fff, 15px 15px #fff, 20px 15px #fff, 25px 15px #000, 
    5px 20px #000, 10px 20px #fff, 15px 20px #000, 20px 20px #fff, 25px 20px #000, 
    5px 25px #000, 10px 25px #000, 15px 25px #000, 20px 25px #000, 25px 25px #000; 
}
.block.G::before {
    box-shadow: 
    5px 5px #000, 10px 5px #000, 15px 5px #000, 20px 5px #fff, 25px 5px #000, 
    5px 10px #000, 10px 10px #000, 15px 10px #fff, 20px 10px #fff, 25px 10px #000, 
    5px 15px #000, 10px 15px #000, 15px 15px #fff, 20px 15px #000, 25px 15px #000, 
    5px 20px #000, 10px 20px #000, 15px 20px #fff, 20px 20px #fff, 25px 20px #000, 
    5px 25px #000, 10px 25px #000, 15px 25px #000, 20px 25px #fff, 25px 25px #000; 
}
.block.H::before {
    box-shadow: 
    5px 5px #000, 10px 5px #000, 15px 5px #000, 20px 5px #000, 25px 5px #000, 
    5px 10px #000, 10px 10px #fff, 15px 10px #fff, 20px 10px #fff, 25px 10px #000, 
    5px 15px #000, 10px 15px #fff, 15px 15px #000, 20px 15px #fff, 25px 15px #000, 
    5px 20px #000, 10px 20px #fff, 15px 20px #fff, 20px 20px #fff, 25px 20px #000, 
    5px 25px #000, 10px 25px #000, 15px 25px #000, 20px 25px #fff, 25px 25px #000; 
}
.block.I::before {
    box-shadow: 
    5px 5px #000, 10px 5px #fff, 15px 5px #000, 20px 5px #fff, 25px 5px #000, 
    5px 10px #000, 10px 10px #fff, 15px 10px #fff, 20px 10px #fff, 25px 10px #000, 
    5px 15px #000, 10px 15px #000, 15px 15px #000, 20px 15px #000, 25px 15px #000, 
    5px 20px #000, 10px 20px #000, 15px 20px #000, 20px 20px #000, 25px 20px #000, 
    5px 25px #000, 10px 25px #000, 15px 25px #000, 20px 25px #000, 25px 25px #000; 
}
.block.J::before {
    box-shadow: 
    5px 5px #000, 10px 5px #000, 15px 5px #000, 20px 5px #000, 25px 5px #000, 
    5px 10px #000, 10px 10px #000, 15px 10px #000, 20px 10px #000, 25px 10px #000, 
    5px 15px #000, 10px 15px #000, 15px 15px #000, 20px 15px #000, 25px 15px #000, 
    5px 20px #000, 10px 20px #000, 15px 20px #000, 20px 20px #fff, 25px 20px #fff, 
    5px 25px #000, 10px 25px #000, 15px 25px #000, 20px 25px #fff, 25px 25px #000; 
}
.block.K::before,.block.Q::before {
    box-shadow: 
    5px 5px #000, 10px 5px #000, 15px 5px #000, 20px 5px #fff, 25px 5px #000, 
    5px 10px #000, 10px 10px #000, 15px 10px #000, 20px 10px #fff, 25px 10px #000, 
    5px 15px #000, 10px 15px #000, 15px 15px #000, 20px 15px #fff, 25px 15px #000, 
    5px 20px #000, 10px 20px #fff, 15px 20px #fff, 20px 20px #fff, 25px 20px #000, 
    5px 25px #000, 10px 25px #fff, 15px 25px #000, 20px 25px #000, 25px 25px #000; 
}
.block.L::before {
    box-shadow: 
    5px 5px #000, 10px 5px #000, 15px 5px #000, 20px 5px #000, 25px 5px #000, 
    5px 10px #000, 10px 10px #fff, 15px 10px #fff, 20px 10px #fff, 25px 10px #000, 
    5px 15px #000, 10px 15px #000, 15px 15px #fff, 20px 15px #000, 25px 15px #000, 
    5px 20px #000, 10px 20px #fff, 15px 20px #fff, 20px 20px #fff, 25px 20px #000, 
    5px 25px #000, 10px 25px #000, 15px 25px #fff, 20px 25px #000, 25px 25px #000; 
}
.block.M::before {
    box-shadow: 
    5px 5px #000, 10px 5px #000, 15px 5px #000, 20px 5px #000, 25px 5px #000, 
    5px 10px #000, 10px 10px #000, 15px 10px #000, 20px 10px #000, 25px 10px #000, 
    5px 15px #000, 10px 15px #fff, 15px 15px #fff, 20px 15px #fff, 25px 15px #000, 
    5px 20px #fff, 10px 20px #fff, 15px 20px #000, 20px 20px #fff, 25px 20px #fff, 
    5px 25px #000, 10px 25px #000, 15px 25px #000, 20px 25px #000, 25px 25px #000; 
}
.block.N::before {
    box-shadow: 
    5px 5px #000, 10px 5px #000, 15px 5px #000, 20px 5px #000, 25px 5px #000, 
    5px 10px #000, 10px 10px #fff, 15px 10px #fff, 20px 10px #fff, 25px 10px #fff, 
    5px 15px #000, 10px 15px #fff, 15px 15px #000, 20px 15px #fff, 25px 15px #000, 
    5px 20px #000, 10px 20px #fff, 15px 20px #fff, 20px 20px #fff, 25px 20px #000, 
    5px 25px #000, 10px 25px #000, 15px 25px #000, 20px 25px #000, 25px 25px #000; 
}
.block.O::before {
    box-shadow: 
    5px 5px #000, 10px 5px #000, 15px 5px #000, 20px 5px #000, 25px 5px #000, 
    5px 10px #fff, 10px 10px #fff, 15px 10px #000, 20px 10px #000, 25px 10px #000, 
    5px 15px #000, 10px 15px #fff, 15px 15px #000, 20px 15px #000, 25px 15px #000, 
    5px 20px #fff, 10px 20px #fff, 15px 20px #000, 20px 20px #000, 25px 20px #000, 
    5px 25px #000, 10px 25px #000, 15px 25px #000, 20px 25px #000, 25px 25px #000; 
}
.block.P::before {
    box-shadow: 
    5px 5px #000, 10px 5px #000, 15px 5px #000, 20px 5px #fff, 25px 5px #000, 
    5px 10px #000, 10px 10px #000, 15px 10px #000, 20px 10px #fff, 25px 10px #fff, 
    5px 15px #000, 10px 15px #000, 15px 15px #000, 20px 15px #000, 25px 15px #000, 
    5px 20px #000, 10px 20px #000, 15px 20px #000, 20px 20px #000, 25px 20px #000, 
    5px 25px #000, 10px 25px #000, 15px 25px #000, 20px 25px #000, 25px 25px #000; 
}
.block.R::before {
    box-shadow: 
    5px 5px #000, 10px 5px #000, 15px 5px #000, 20px 5px #000, 25px 5px #000, 
    5px 10px #000, 10px 10px #fff, 15px 10px #000, 20px 10px #fff, 25px 10px #000, 
    5px 15px #000, 10px 15px #fff, 15px 15px #fff, 20px 15px #fff, 25px 15px #fff, 
    5px 20px #000, 10px 20px #fff, 15px 20px #000, 20px 20px #fff, 25px 20px #000, 
    5px 25px #000, 10px 25px #000, 15px 25px #000, 20px 25px #000, 25px 25px #000; 
}
.block.S::before {
    box-shadow: 
    5px 5px #000, 10px 5px #fff, 15px 5px #000, 20px 5px #000, 25px 5px #000, 
    5px 10px #000, 10px 10px #fff, 15px 10px #fff, 20px 10px #000, 25px 10px #000, 
    5px 15px #000, 10px 15px #000, 15px 15px #fff, 20px 15px #000, 25px 15px #000, 
    5px 20px #000, 10px 20px #fff, 15px 20px #fff, 20px 20px #000, 25px 20px #000, 
    5px 25px #000, 10px 25px #fff, 15px 25px #000, 20px 25px #000, 25px 25px #000; 
}
.block.T::before {
    box-shadow: 
    5px 5px #000, 10px 5px #fff, 15px 5px #000, 20px 5px #000, 25px 5px #000, 
    5px 10px #000, 10px 10px #fff, 15px 10px #fff, 20px 10px #fff, 25px 10px #000, 
    5px 15px #000, 10px 15px #fff, 15px 15px #000, 20px 15px #fff, 25px 15px #000, 
    5px 20px #000, 10px 20px #fff, 15px 20px #fff, 20px 20px #fff, 25px 20px #000, 
    5px 25px #000, 10px 25px #000, 15px 25px #000, 20px 25px #000, 25px 25px #000; 
}
.block.U::before,.block.V::before {
    box-shadow: 
    5px 5px #000, 10px 5px #000, 15px 5px #000, 20px 5px #000, 25px 5px #000, 
    5px 10px #000, 10px 10px #000, 15px 10px #000, 20px 10px #000, 25px 10px #000, 
    5px 15px #000, 10px 15px #000, 15px 15px #000, 20px 15px #000, 25px 15px #000, 
    5px 20px #000, 10px 20px #fff, 15px 20px #fff, 20px 20px #fff, 25px 20px #000, 
    5px 25px #000, 10px 25px #fff, 15px 25px #000, 20px 25px #fff, 25px 25px #000; 
}
.block.W::before {
    box-shadow: 
    5px 5px #000, 10px 5px #fff, 15px 5px #000, 20px 5px #000, 25px 5px #000, 
    5px 10px #fff, 10px 10px #fff, 15px 10px #000, 20px 10px #000, 25px 10px #000, 
    5px 15px #000, 10px 15px #000, 15px 15px #000, 20px 15px #000, 25px 15px #000, 
    5px 20px #000, 10px 20px #000, 15px 20px #000, 20px 20px #000, 25px 20px #000, 
    5px 25px #000, 10px 25px #000, 15px 25px #000, 20px 25px #000, 25px 25px #000; 
}
.block.X::before {
    box-shadow: 
    5px 5px #000, 10px 5px #000, 15px 5px #000, 20px 5px #fff, 25px 5px #000, 
    5px 10px #000, 10px 10px #fff, 15px 10px #fff, 20px 10px #fff, 25px 10px #000, 
    5px 15px #000, 10px 15px #fff, 15px 15px #000, 20px 15px #000, 25px 15px #000, 
    5px 20px #000, 10px 20px #fff, 15px 20px #000, 20px 20px #000, 25px 20px #000, 
    5px 25px #000, 10px 25px #fff, 15px 25px #000, 20px 25px #000, 25px 25px #000; 
}
.block.Y::before {
    box-shadow: 
    5px 5px #000, 10px 5px #000, 15px 5px #fff, 20px 5px #000, 25px 5px #000, 
    5px 10px #000, 10px 10px #fff, 15px 10px #fff, 20px 10px #fff, 25px 10px #000, 
    5px 15px #000, 10px 15px #000, 15px 15px #fff, 20px 15px #000, 25px 15px #000, 
    5px 20px #000, 10px 20px #fff, 15px 20px #fff, 20px 20px #fff, 25px 20px #000, 
    5px 25px #000, 10px 25px #000, 15px 25px #000, 20px 25px #000, 25px 25px #000; 
}
.block.Z::before {
    box-shadow: 
    5px 5px #000, 10px 5px #000, 15px 5px #000, 20px 5px #000, 25px 5px #000, 
    5px 10px #fff, 10px 10px #fff, 15px 10px #fff, 20px 10px #fff, 25px 10px #000, 
    5px 15px #000, 10px 15px #000, 15px 15px #000, 20px 15px #fff, 25px 15px #000, 
    5px 20px #000, 10px 20px #000, 15px 20px #000, 20px 20px #fff, 25px 20px #fff, 
    5px 25px #000, 10px 25px #000, 15px 25px #000, 20px 25px #000, 25px 25px #000; 
}
